<mat-card class="card-position">
    <mat-card-title class="title-position">Registraion Form</mat-card-title>
<mat-card-content>
<form class="form-position" [formGroup]= "regForm" (ngSubmit) = "registerForm()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Fullme" formControlName="fullname">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="tele" matInput placeholder="Phone" formControlName="phone">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" matInput required placeholder="confirm password" formControlName="cpassword">
    </mat-form-field>
  </p>
  <p>
    <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button value="1" value="male">Male</mat-radio-button>
        <mat-radio-button value="2" value="female">Female</mat-radio-button>
      </mat-radio-group>
  </p>
  <p>
    <mat-checkbox formControlName="agreeTerms">I agree terms and condition</mat-checkbox>
  </p>
  <p *ngIf="error" class="error">
    {{ error }}
  </p>
  <div class="button">
    <button type="submit" mat-button [disabled]="!regForm.valid" >Register</button>
  </div>
  <div>
    <a [routerLink]="'/forgotPsw'"> Forgot Password / </a>
    <a [routerLink]="'/login'"> Login </a>
</div>
</form>
</mat-card-content>
</mat-card>
