<mat-card class="card-position">
    <mat-card-title class="title-position">Login</mat-card-title>
<mat-card-content>
<form class="form-position" [formGroup]= "userForm" (submit)="submit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </p>
  <p *ngIf="error" class="error">
    {{ error }}
  </p>
  <div class="button">
    <!-- Challenge 12 has commented -->
    <!-- <button type="submit" mat-button [disabled]="!userForm.valid" [routerLink]="'/Dashboard'">Login</button> -->
    <button type="submit" mat-button [disabled]="!userForm.valid">Login</button>

  </div>
  <div>
    <a [routerLink]="'/forgotPsw'"> Forgot Password / </a>
    <a [routerLink]="'/registration'"> Registration </a>
</div>
</form>
</mat-card-content>
</mat-card>
