<h4 class="pAlign">{{retrievedUser.fullname}} Information</h4>
<div class="pAlign">
    <div><p class="displayDiv">Full Name : {{retrievedUser.fullname}}</p></div>
    <div><p class="displayDiv">Email : {{retrievedUser.email}}</p></div>
    <div><p class="displayDiv">Phone : {{retrievedUser.phone}}</p></div>
    <div><p class="displayDiv">Password : {{retrievedUser.password}}</p></div>
    <div><p class="displayDiv">Confirm password : {{retrievedUser.cpassword}}</p></div>
    <div><p class="displayDiv">Gender : {{retrievedUser.gender}}</p></div>
    <div><p class="displayDiv">Terms and condition is agreed ? :  {{retrievedUser.agreeTerms}}</p></div>
</div>
