<app-topbar></app-topbar>
<mat-slide-toggle [(ngModel)] = "isToggleChecked" (click)= "fetchUsers(isToggleChecked)">
  <mat-label>{{labelForTable}}</mat-label></mat-slide-toggle>
<div *ngIf="listOfUsers.length=== 0 && usersList.length > 0 || isToggleChecked" class="hostBinding"><h2 class="headerAlign">List of Admins</h2>
    <table  mat-table [dataSource]="usersList" class="mat-elevation-z8 positionTab">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="cellPadd"> Email </th>
      <td mat-cell *matCellDef="let element" class="cellPadd"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef class="cellPadd"> Name </th>
      <td mat-cell *matCellDef="let element" class="cellPadd"> {{element.fullname}} </td>
    </ng-container>

    <ng-container matColumnDef="gender" >
      <th mat-header-cell *matHeaderCellDef class="cellPadd"> Gender </th>
      <td mat-cell *matCellDef="let element" class="cellPadd" > {{element.gender}}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef class="cellPadd"> Phone </th>
      <td mat-cell *matCellDef="let element" class="cellPadd"> {{element.phone}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getUserInfo(row)"></tr>
  </table>
</div>
<div *ngIf="listOfUsers.length !==0 && !isToggleChecked" class="hostBinding"><h2 class="headerAlign">List of Users</h2>
  <mat-table  mat-table [dataSource]="listOfUsers" class="mat-elevation-z8 positionForUser">
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef class="cellPadd"> UserId </th>
      <td mat-cell *matCellDef="let element" class="cellPadd"> {{element.userId}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="cellPadd"> Id </th>
      <td mat-cell *matCellDef="let element" class="cellPadd"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title" >
      <th mat-header-cell *matHeaderCellDef class="cellPadd"> Title </th>
      <td mat-cell *matCellDef="let element" class="cellPadd" > {{element.title}}</td>
    </ng-container>

    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef class="cellPadd"> Completed </th>
      <td mat-cell *matCellDef="let element" class="cellPadd"> {{element.completed}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="usersColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: usersColumns;" (click)="getUserInfo(row)"></tr>
  </mat-table>
  <mat-paginator #paginator [pageIndex]="0"
                             [pageSize]="10"
                             [length]="200"
                             [pageSizeOptions]="[5, 10, 20]"
                             [showFirstLastButtons]="true">
</mat-paginator>
</div>
